<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="nbeclipse.core.launch.nbconfig">
<stringAttribute key="ATTR_IP" value=""/>
<booleanAttribute key="org.eclipse.cdt.debug.mi.core.AUTO_SOLIB" value="false"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.DEBUG_NAME" value="m68k-elf-gdb"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.DEV" value="COM1"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.GDB_INIT" value=""/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.PORT" value="2159"/>
<booleanAttribute key="org.eclipse.cdt.debug.mi.core.REMOTE_TCP" value="true"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.protocol" value="mi"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="nbeclipse.core.launch.nbserver"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Release/QuadIMU_NB2_ver2.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="QuadIMU_NB2_ver2"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="nbeclipse.toolchain.nbde.rel.513173329"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/QuadIMU_NB2_ver2/Release/QuadIMU_NB2_ver2.elf"/>
<listEntry value="/QuadIMU_NB2_ver2"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
