<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="nbeclipse.core.launch.nbconfig">
<stringAttribute key="ATTR_IP" value="169.254.137.222"/>
<booleanAttribute key="DebugLog" value="false"/>
<booleanAttribute key="DebugOutput" value="false"/>
<stringAttribute key="SSHostName" value="127.0.0.1"/>
<stringAttribute key="SSPort" value="2159"/>
<stringAttribute key="WaitTime" value="4"/>
<intAttribute key="indexSelection" value="0"/>
<booleanAttribute key="org.eclipse.cdt.debug.mi.core.AUTO_SOLIB" value="false"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.DEBUG_NAME" value="m68k-elf-gdb"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.DEV" value="COM1"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.DEV_SPEED" value="115200"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.GDB_INIT" value=""/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.HOST" value="localhost"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.PORT" value="2159"/>
<booleanAttribute key="org.eclipse.cdt.debug.mi.core.REMOTE_TCP" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="nbeclipse.core.launch.nbserver"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN_SYMBOL" value="main"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_REGISTER_BOOKKEEPING" value="false"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_VARIABLE_BOOKKEEPING" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="Sensor_Interface_Board_v9"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="nbeclipse.toolchain.nbde.rel.1475737321"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Sensor_Interface_Board_v9"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
